@model IEnumerable<Book_Management_System.Models.Account>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Book_Management_System.Resources.Admin.User.Resource.User_management</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <p>
                    @Html.ActionLink(@Book_Management_System.Resources.Admin.User.Resource.Create, "Create")
                </p>
                <table class="table table-hover" id="table1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                          
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @{ if (item.IsActive == true)
                                    {
                                        <button class="btn btn-success" style="pointer-events:none;">@Book_Management_System.Resources.Admin.User.Resource.IsActive</button>
                                    }
                                    else if(item.IsActive == false)
                                    {
                                        <button class="btn btn-danger" style="pointer-events:none;">@Book_Management_System.Resources.Admin.User.Resource.Block</button>
                                    }
                                }
                            </td>
                            <td>
                                @Html.ActionLink(@Book_Management_System.Resources.Admin.User.Resource.Edit, "Edit", new { id = item.Id }) |
                                <a id="detail" onclick="Open('@item.Id')" class="don"> @Book_Management_System.Resources.Admin.User.Resource.Detail </a> 
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
     </div>
    </div>
</div>
    <!-- /.row -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:steelblue; color: white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Book_Management_System.Resources.Admin.User.Resource.Detail</h4>
            </div>
            <div class="modal-body" id="Preview">
                @*Content*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Book_Management_System.Resources.Admin.User.Resource.Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
<script type="text/javascript">
    function Open(currentId) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("Detail","ManageAccount")",
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }
</script>
}

