    @model Book_Management_System.Models.Author

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Book_Management_System.Resources.Admin.Author.Resource.Add_Author</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">

            @using (Html.BeginForm("", "", new { id = string.Empty }, FormMethod.Post, new { @id = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = @Book_Management_System.Resources.Admin.Author.Resource.PH_AuthorName } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value=@Book_Management_System.Resources.Admin.Author.Resource.Create class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink(@Book_Management_System.Resources.Admin.Author.Resource.Back_to_list, "Index")
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script>
        $(document).ready(function () {

            $("#form").bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    /*Author*/
                    Name: {
                        validators: {
                            notEmpty: {
                                message: 'The AuthorName cannot be empty !'
                            },
                            stringLength: {
                                min: 2,
                                max:30,
                                message: 'The AuthorName must be more than 2 and less than 30 characters !'
                            },
                            regexp: {
                                regexp: /^[^\d`~!@@#$%^&*()\-_=+{}|<,>?:;"']+$/,
                                message: 'Author name cannot allow special characters and number'
                            }

                        }
                    }

                }
            });
        });
    </script>
}

