@model IEnumerable<Book_Management_System.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPayment.cshtml";
}
@section Js{
    <script src="~/Assets/js/Customer.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Account</h3>
            <hr />
            <div class="menu-left">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i>User Infomation</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","User")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Order Management</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-address-card" aria-hidden="true"></i>Address</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <h3>Your Order</h3>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Id Order</th>
                        <th scope="col">Date Buying</th>
                        <th scope="col">Status</th>
                        <th scope="col">Method Payment</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th>@item.Id</th>
                        <td>@item.CreateDate.ToShortDateString()</td>
                        <td>@item.Status</td>
                        <td>@item.MethodPayment</td>
                        <td>@item.Cart.Total $</td>
                        <td>
                            <a id="@item.Id" onclick="Customer.ViewDetail('@item.IdCard')" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                            @if (item.Status == "Processing")
                            {
                                <a id="@item.Id" onclick="Customer.DeleteOrder('@item.IdCard')" style="margin-left: 15px" href="#">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            }
                        </td>

                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


</div>

<div id="ModalViewDetail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orders Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">BookName</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="RenderModalContent">
                        
                    </tbody>
                </table>
                @*<div id="RenderModalContent">

                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script id="TemplateViewDetailModal" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{Quantity}}</td>
        <td>{{Price}} $</td>
        <td>{{TotalPrice}} $</td>

    </tr>
</script>
