@model IEnumerable<Book_Management_System.Common.OrderItemViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div class="main_content">
    <div class="sidebar_title">
        <h3>@Book_Management_System.Resources.Admin.OrderResource.Resources.YourOrder</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr class="table-active">
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.IdOrder</th>
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.CreateDate</th>
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.Status</th>
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.MethodPay</th>
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.TotalPrice</th>
                        <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <th>@item.Id</th>
                        <td>@item.CreateDate.ToShortDateString()</td>
                        <td>@item.Status</td>
                        <td>@item.MethodPayment</td>
                        <td> @item.TotalPrice $</td>
                        <td>
                            <a id="@item.Id" onclick="Customer.ViewDetail('@item.IdCard')" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                            @if (item.Status == "Ordered")
                            {
                                <a id="@item.Id" onclick="Customer.DeleteOrder('@item.Id')" style="margin-left: 15px" href="#">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            }
                        </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--Modal view detail order-->
    <div id="ModalViewDetail" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Orders Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.BookName</th>
                                <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.Quantity</th>
                                <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.Price</th>
                                <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.TotalPrice</th>
                            </tr>
                        </thead>
                        <tbody id="RenderModalContent"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Book_Management_System.Resources.Admin.OrderResource.Resources.Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script-->
@section Js{
    <script src="~/Assets/js/Customer.js"></script>
}
<script id="TemplateViewDetailModal" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{Quantity}}</td>
        <td>{{Price}} $</td>
        <td>{{TotalPrice}} $</td>
    </tr>
</script>
