@model IEnumerable<Book_Management_System.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Assets/js/Customer.js"></script>
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Book_Management_System.Resources.Admin.OrderResource.Resources.OrderManagement</h1>
            <p id="detailOrder" class="hidden" data-confirm-deli="@Book_Management_System.Resources.Admin.OrderResource.Resources.ConfirmDeli"
               data-fail="@Book_Management_System.Resources.Admin.OrderResource.Resources.Fail"
               data-success="@Book_Management_System.Resources.Admin.OrderResource.Resources.ChageStatusSuccess"
               data-confirm-cancel="@Book_Management_System.Resources.Admin.OrderResource.Resources.ConfirmCancel"
               data-cancel-success="@Book_Management_System.Resources.Admin.OrderResource.Resources.CancelSuccess"
               data-confirm-complete="@Book_Management_System.Resources.Admin.OrderResource.Resources.ConfirmComplete"></p>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <table class="table table-hover" id="table1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart.IdUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MethodPayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cart.IdUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MethodPayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @{
                            if (item.Status == "Ordered")
                            {
                                <button onclick="Customer.ViewDetail('@item.IdCard')" type="button" class="btn btn-info">@Book_Management_System.Resources.Admin.OrderResource.Resources.Detail</button>
                                <button onclick="Customer.SetDelivering('@item.Id')" type="button" class="btn btn-primary">@Book_Management_System.Resources.Admin.OrderResource.Resources.Delivering</button>
                                <button onclick="Customer.DeleteOrder('@item.Id')" type="button" class="btn btn-danger">@Book_Management_System.Resources.Admin.OrderResource.Resources.Cancel</button>


                            }
                            else if (item.Status == "Delivering")
                            {
                                <button onclick="Customer.ViewDetail('@item.IdCard')" type="button" class="btn btn-info">@Book_Management_System.Resources.Admin.OrderResource.Resources.Detail</button>
                                <button onclick="Customer.SetCompleted('@item.Id')" type="button" class="btn btn-success">@Book_Management_System.Resources.Admin.OrderResource.Resources.Complete</button>
                            }
                            else
                            {
                                <button onclick="Customer.ViewDetail('@item.IdCard')" type="button" class="btn btn-info">@Book_Management_System.Resources.Admin.OrderResource.Resources.Detail</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>
<div id="ModalViewDetail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Book_Management_System.Resources.Admin.OrderResource.Resources.Orders_Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="@Book_Management_System.Resources.Admin.OrderResource.Resources.Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.BookName</th>
                            <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.Quantity</th>
                            <th scope="col">.@Book_Management_System.Resources.Admin.OrderResource.Resources.Price</th>
                            <th scope="col">@Book_Management_System.Resources.Admin.OrderResource.Resources.TotalPrice</th>
                        </tr>
                    </thead>
                    <tbody id="RenderModalContent"></tbody>
                </table>
                @*<div id="RenderModalContent">

                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Book_Management_System.Resources.Admin.OrderResource.Resources.Close</button>
            </div>
        </div>
    </div>
</div>

<script id="TemplateViewDetailModal" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{Quantity}}</td>
        <td>{{Price}} $</td>
        <td>{{TotalPrice}} $</td>

    </tr>
</script>