@model Book_Management_System.Models.Book


<style>

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .panel-body {
        padding: 15px;
    }

    .panel > .list-group {
        margin-bottom: 0;
    }

        .panel > .list-group .list-group-item {
            border-width: 1px 0;
            border-radius: 0;
        }

            .panel > .list-group .list-group-item:first-child {
                border-top: 0;
            }

            .panel > .list-group .list-group-item:last-child {
                border-bottom: 0;
            }

        .panel > .list-group:first-child .list-group-item:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel > .list-group:last-child .list-group-item:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

    .panel-heading + .list-group .list-group-item:first-child {
        border-top-width: 0;
    }

    .panel > .table,
    .panel > .table-responsive > .table {
        margin-bottom: 0;
    }

        .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
        .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
        .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
        .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
        .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
        .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
        .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
        .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
            border-top-left-radius: 3px;
        }

        .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
        .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
        .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
        .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
        .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
        .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
        .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
        .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
            border-top-right-radius: 3px;
        }

        .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
        .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
        .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
        .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
        .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
        .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
        .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
        .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
            border-bottom-left-radius: 3px;
        }

        .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
        .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
        .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
        .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
        .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
        .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
        .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
        .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
            border-bottom-right-radius: 3px;
        }

    .panel > .panel-body + .table,
    .panel > .panel-body + .table-responsive {
        border-top: 1px solid #ddd;
    }

    .panel > .table > tbody:first-child > tr:first-child th,
    .panel > .table > tbody:first-child > tr:first-child td {
        border-top: 0;
    }

    .panel > .table-bordered,
    .panel > .table-responsive > .table-bordered {
        border: 0;
    }

        .panel > .table-bordered > thead > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
        .panel > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-bordered > thead > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
        .panel > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-bordered > tfoot > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        .panel > .table-bordered > thead > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
        .panel > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-bordered > thead > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
        .panel > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-bordered > tfoot > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
        }

        .panel > .table-bordered > thead > tr:first-child > th,
        .panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
        .panel > .table-bordered > tbody > tr:first-child > th,
        .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th,
        .panel > .table-bordered > tfoot > tr:first-child > th,
        .panel > .table-responsive > .table-bordered > tfoot > tr:first-child > th,
        .panel > .table-bordered > thead > tr:first-child > td,
        .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
        .panel > .table-bordered > tbody > tr:first-child > td,
        .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
        .panel > .table-bordered > tfoot > tr:first-child > td,
        .panel > .table-responsive > .table-bordered > tfoot > tr:first-child > td {
            border-top: 0;
        }

        .panel > .table-bordered > thead > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > thead > tr:last-child > th,
        .panel > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-bordered > tfoot > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
        .panel > .table-bordered > thead > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > thead > tr:last-child > td,
        .panel > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-bordered > tfoot > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
            border-bottom: 0;
        }

    .panel > .table-responsive {
        margin-bottom: 0;
        border: 0;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

        .panel-heading > .dropdown .dropdown-toggle {
            color: inherit;
        }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

        .panel-title > a {
            color: inherit;
        }

    .panel-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .panel-group {
        margin-bottom: 20px;
    }

        .panel-group .panel {
            margin-bottom: 0;
            overflow: hidden;
            border-radius: 4px;
        }

            .panel-group .panel + .panel {
                margin-top: 5px;
            }

        .panel-group .panel-heading {
            border-bottom: 0;
        }

            .panel-group .panel-heading + .panel-collapse .panel-body {
                border-top: 1px solid #ddd;
            }

        .panel-group .panel-footer {
            border-top: 0;
        }

            .panel-group .panel-footer + .panel-collapse .panel-body {
                border-bottom: 1px solid #ddd;
            }

    .panel-default {
        border-color: #ddd;
    }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

            .panel-default > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #ddd;
            }

        .panel-default > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #ddd;
        }

    .panel-primary {
        border-color: #428bca;
    }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #428bca;
            border-color: #428bca;
        }

            .panel-primary > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #428bca;
            }

        .panel-primary > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #428bca;
        }

    .panel-success {
        border-color: #d6e9c6;
    }

        .panel-success > .panel-heading {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

            .panel-success > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #d6e9c6;
            }

        .panel-success > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #d6e9c6;
        }

    .panel-info {
        border-color: #bce8f1;
    }

        .panel-info > .panel-heading {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

            .panel-info > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #bce8f1;
            }

        .panel-info > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #bce8f1;
        }

    .panel-warning {
        border-color: #faebcc;
    }

        .panel-warning > .panel-heading {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

            .panel-warning > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #faebcc;
            }

        .panel-warning > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #faebcc;
        }

    .panel-danger {
        border-color: #ebccd1;
    }

        .panel-danger > .panel-heading {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

            .panel-danger > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #ebccd1;
            }

        .panel-danger > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #ebccd1;
        }

    .detail-title h4 {
        font-family: 'Times New Roman';
        font-weight: bold;
    }

    .detail-title a {
        text-decoration: none;
    }

    .detail-title h5 {
        font-family: Arial, Helvetica, sans-serif
    }

    .panel-body p {
        font-family: 'Times New Roman';
        font-size: 20px
    }

    .wrap-table-shopping-cart {
        overflow: auto;
        border-top: solid 1px #DEE2E6;
        border-left: solid 1px #DEE2E6;
        border-right: solid 1px #DEE2E6;
        border-bottom: solid 1px #DEE2E6;
    }

        .wrap-table-shopping-cart td {
            vertical-align: middle
        }

    .table-shopping-cart {
        border-collapse: collapse;
        width: 100%;
        min-width: 680px;
    }

        .table-shopping-cart tr {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }

        .table-shopping-cart .column-1 {
            width: 133px;
            padding-left: 50px;
        }

        .table-shopping-cart .column-2 {
            width: 220px;
            font-size: 15px;
        }

        .table-shopping-cart .column-3 {
            width: 120px;
            font-size: 16px;
        }

        .table-shopping-cart .column-4 {
            width: 145px;
        }

        .table-shopping-cart .column-5 {
            width: 172px;
            padding-right: 50px;
            font-size: 16px;
        }

        .table-shopping-cart .column-6 {
            vertical-align: middle;
        }

        .table-shopping-cart .table_row {
            height: 185px;
        }

            .table-shopping-cart .table_row td {
                padding-bottom: 20px;
            }

                .table-shopping-cart .table_row td.column-1 {
                    padding-bottom: 20px;
                }

        .table-shopping-cart .table_head th {
            font-family: Poppins-Bold;
            font-size: 13px;
            color: #555;
            text-transform: uppercase;
            line-height: 1.6;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .table-shopping-cart td {
            font-family: Poppins-Regular;
            color: #555;
            line-height: 1.6;
            vertical-align: middle
        }

    .how-itemcart1 {
        width: 80px;
        position: relative;
        cursor: pointer;
    }

        .how-itemcart1 img {
            width: 100%;
        }

        .how-itemcart1::after {
            content: '\e870';
            font-family: Linearicons-Free;
            font-size: 16px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            opacity: 0;
        }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>


<div class="">
    <div class="panel panel-primary">
        <div class="panel-body">
            <!-- List item-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrap-table-shopping-cart">

                        <table class="table table-condensed text-center">
                            <thead class="thead-light">
                                <tr>

                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="table-row">

                                    <td class="column-1">
                                        <div class="text-center">
                                            <img id="img" data-id="@Model.Id" class="how-itemcart1" src="@Html.DisplayFor(model => model.ImageURL)" alt="product-image" />
                                        </div>
                                    </td>
                                    <td class="column-2">
                                        @Html.DisplayFor(model => model.Title)
                                    </td>
                                    <td class="column-3"> @string.Format("{0:0,0}", Model.Price)$</td>
                                    <td class="column-4">
                                        <div class="input-group form-group-sm justify-content-sm-center">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary btn-number" type="button" data-type="minus" data-field="quantity">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>

                                            <input disabled name="quantity" type="text" class="form-control border-secondary input-number" data-price="@Model.Price" style="max-width:50px; text-align: center" value="1" min="1" max="@Model.Quantity">

                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary btn-number" type="button" data-type="plus" data-field="quantity">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="column-5" id="price">@string.Format("{0:0,0}", Model.Price)$ </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="text-right">
 
</div>

<!-- Script for quantity-->
<script>
        $(document).ready(function () {
            $('.btn-number').on('click',(function (event) {
                event.preventDefault();
                fieldName = $(this).attr('data-field');
                type = $(this).attr('data-type');
                var input = $("input[name='" + fieldName + "']");
                var currentVal = parseInt(input.val());
                if (!isNaN(currentVal)) {
                    if (type == 'minus') {
                        if (currentVal > input.attr('min')) {
                            input.val(currentVal - 1).change();
                        }
                        if (parseInt(input.val()) == input.attr('min')) {
                            $(this).attr('disabled', true);
                        }
                    }
                    else if (type == 'plus') {
                        if (currentVal < input.attr('max')) {
                            input.val(currentVal + 1).change();
                        }

                        if (parseInt(input.val()) == input.attr('max')) {
                            $(this).attr('disabled', true);
                        }
                    }
                }
                else {
                    input.val(0);
                }
            }));
            $('.input-number').focusin(function () {
                $(this).data('oldValue', $(this).val());
            });
            $('.input-number').change(function () {

                minValue = parseInt($(this).attr('min'));
                maxValue = parseInt($(this).attr('max'));
                price = parseInt($(this).attr('data-price'));
                valueCurrent = parseInt($(this).val());
                total = parseInt(valueCurrent * price).toLocaleString();

                name = $(this).attr('name');
                if (valueCurrent >= minValue) {
                    $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the minimum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                if (valueCurrent <= maxValue) {
                    $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the maximum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                $('#price').html(total + '$');    // update total when change in quantity
            });
            $(".input-number").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

           
        });

        
</script>

