@model Book_Management_System.Common.CartViewModel

@{
    ViewBag.Title = "IndexTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexTest</h2>

<div>
    <h4>CartViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach(var item in Model.CartItems)
        {
            <p>
                @item.Book.Title
            </p>
            <p>
                @item.Book.ImageURL
            </p>
        }
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
