@model Book_Management_System.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Book_Management_System.Resources.Admin.Book;
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.AddBook</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @using (Html.BeginForm("Create", "ManageBook", new { id = string.Empty }, FormMethod.Post, new { @id = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.ModifiedDate)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.TitlePlace, data_empty=Resources.TitleErrorEmpty, data_length=Resources.TitleErrorLength, id="title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary, 4, 185, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.SummaryPlace, data_empty=Resources.SummaryErrorEmpty, data_length=Resources.SummaryErrorLength, id="summary" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.ISBNPlace, data_empty=Resources.ISBNErrorEmpty, data_length= Resources.ISBNErrorLength, data_regexp = Resources.ISBNErrorRegexp, id="isbn" } })
                @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.PricePlace, data_empty = Resources.PriceErrorEmpty, data_regexp = Resources.PriceErrorRegexp, id = "price" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.QuantityPlace, data_empty = Resources.QuantityErrorEmpty,  data_regexp = Resources.QuantityErrorRegexp, id = "quantity" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdAuthor, "IdAuthor", htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.DropDownList("IdAuthor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdAuthor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPublisher, "IdPublisher", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdPublisher", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPublisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCategory, "IdCategory", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCategory", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @id = "cre", @placeholder = Resources.CreatedatePlace, data_empty = Resources.CreatedateErrorEmpty, data_regexp = Resources.CreatedateErrorRegexp } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control", type = "file", data_empty = Resources.ImageErrorEmpty, data_regexp = Resources.ImageErrorRegexp, id = "image" } })
                @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Book_Management_System.Resources.Admin.Layout.Resources.Create class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink(Book_Management_System.Resources.Admin.Layout.Resources.BacktoList, "Index")
    </div>
</div>
@section scripts{
    <script>
        /*DataTable*/
        $(document).ready(function () {
            $('#table1').DataTable({

            });
        });

        /*-------Boostrap validator--------*/
        $(document).ready(function () {

            $("#form").bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    /*Books*/
                    Title: {
                        message: 'The Title is not valid !',
                        validators: {
                            notEmpty: {
                                message: $('#title').attr('data-empty')
                            },
                            stringLength: {
                                min: 6,
                                message: $('#title').attr('data-length')
                            },
                        }
                    },
                    Summary: {
                        message: 'The summary is not valid !',
                        validators: {
                            notEmpty: {
                                message: $('#summary').attr('data-empty')
                            },
                            stringLength: {
                                min: 6,
                                message: $('#summary').attr('data-length')
                            },
                        }
                    },
                    ImageURL: {
                        validators: {
                            notEmpty: {
                                message: $('#image').attr('data-empty')
                            },
                            file: {
                                extension: 'jpeg,png,gif,jpg',
                                type: 'image/jpeg,image/png,image/gif,image/jpg',
                                maxSize: 2048 * 1024,
                                message: $('#image').attr('data-regexp')
                            }
                        }
                    },
                    ISBN: {
                        message: 'The ISBN is not valid !',
                        validators: {
                            notEmpty: {
                                message: $('#isbn').attr('data-empty')
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: $('#isbn').attr('data-length')
                            },
                            regexp: {
                                regexp: /^[\d`~!@@#$%^&*()\-_=+{}|<,>?:;"']+$/,
                                message: $('#isbn').attr('data-regexp')

                            }
                        }
                    },
                    Price: {
                        message: 'The price is not valid !',
                        validators: {
                            notEmpty: {
                                message: $('#price').attr('data-empty')
                            },
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: $('#price').attr('data-regexp')
                            }
                        }
                    },
                    Quantity: {
                        message: 'The quantity is not valid !',
                        validators: {
                            notEmpty: {
                                message: $('#quantity').attr('data-empty')
                            },
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: $('#quantity').attr('data-regexp')
                            }
                        }
                    },
                    CreateDate: {
                        validators: {
                            notEmpty: {
                                message: $('#cre').attr('data-empty')
                            },
                            date: {
                                format: 'DD/MM/YYYY',
                                message: $('#cre').attr('data-regexp')
                            }
                        }
                    }
                 
                    
                }
            });
                 $('#cre').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (e) {
                    // Revalidate the date field
                    $("#form").bootstrapValidator('revalidateField', 'CreateDate');
                });
               
         
        });

        
                            /*---------End----------*/

    </script>
   
}