@model Book_Management_System.Models.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Book</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="@Model.ImageURL" style="width:100%; height:90%" />
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="panel panel-default ">
                    <div class=" panel panel-heading"> <h4> Book</h4></div>
                    <div class="panel panel-body">

                        @using (Html.BeginForm("", "", new { id = string.Empty }, FormMethod.Post, new { @id = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CreateDate)
                            @Html.HiddenFor(model => model.ModifiedDate)
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a title" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a summary" } })
                                        @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                                        @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a ISBN" } })
                                        @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a price" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a quantity" } })
                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdAuthor, "IdAuthor", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("IdAuthor", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdAuthor, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdPublisher, "IdPublisher", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("IdPublisher", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdPublisher, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdCategory, "IdCategory", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("IdCategory", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsActive)
                                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>






                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        /*DataTable*/
        $(document).ready(function () {
            $('#table1').DataTable({

            });
        });

        /*-------Boostrap validator--------*/
        $(document).ready(function () {

            $("#form").bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    /*Books*/
                    Title: {
                        message: 'The Title is not valid !',
                        validators: {
                            notEmpty: {
                                message: 'The title cannot be empty !'
                            },
                            stringLength: {
                                min: 6,
                                message: 'The title must be more 6 characters !'
                            },
                        }
                    },
                    Summary: {
                        message: 'The summary is not valid !',
                        validators: {
                            notEmpty: {
                                message: 'The summary cannot be empty !'
                            },
                            stringLength: {
                                min: 6,
                                message: 'The title must be more 6 characters !'
                            },
                        }
                    },
                    ISBN: {
                        message: 'The category is not valid !',
                        validators: {
                            notEmpty: {
                                message: 'The ISBN can not be empty !'
                            },
                            stringLength: {
                                min: 6,
                                message: 'The ISBN must be more 6 characters'
                            },
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: "ISBN must be number"

                            }
                        }
                    },
                    Price: {
                        message: 'The price is not valid !',
                        validators: {
                            notEmpty: {
                                message: 'The price cannot be empty !'
                            },
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: 'The price must be greater 0 !'
                            }
                        }
                    },
                    Quantity: {
                        message: 'The quantity is not valid !',
                        validators: {
                            notEmpty: {
                                message: 'The quantity cannot be empty !'
                            },
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: 'The quantity must be greater 0 !'
                            }
                        }
                    },
                  

                }
            });
        });

                            /*---------End----------*/

    </script>
}
