@model IEnumerable<Book_Management_System.Models.Book>
@using Book_Management_System.Resources.Admin.Book;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.BookManagement</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <p>
                    @Html.ActionLink(Book_Management_System.Resources.Admin.Layout.Resources.CreateNew, "Create")
                </p>
                <table class="table table-hover" id="table1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model=>model.ImageURL)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <img src="@item.ImageURL" width="50" height="50" />
                                </td>
                                @{ 
                                    if(item.IsActive == true)
                                    {
                                        <td>
                                            True
                                        </td>
                                    }
                                    else
                                    {
                                        <td>False</td>
                                    }
                                }

                                <td>
                                    @Html.ActionLink(@Book_Management_System.Resources.Admin.Layout.Resources.Edit, "Edit", new { id = item.Id }) |
                                    <a id="detail" onclick="Open('@item.Id')"> @Book_Management_System.Resources.Admin.Layout.Resources.Detail </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:steelblue;color: white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Book_Management_System.Resources.Admin.Book.Resources.Detail </h4>
            </div>
            <div class="modal-body" id="Preview">
                @*Content*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Book_Management_System.Resources.Admin.Layout.Resources.Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function Open(currentId) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("Detail","ManageBook")",
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }
</script>

