<nav class="navbar">
    <ul class="navbar_menu">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">@Book_Management_System.Infrastructure.StaticResource.Resources.Products</a></li>
        <li><a href="#">@Book_Management_System.Infrastructure.StaticResource.Resources.Promotions</a></li>
        <li><a href="#">@Book_Management_System.Infrastructure.StaticResource.Resources.Profile</a></li>
        <li><a href="#">@Book_Management_System.Infrastructure.StaticResource.Resources.AboutUs</a></li>
        <li><a href="#">@Book_Management_System.Infrastructure.StaticResource.Resources.Contact</a></li>
    </ul>
</nav>
