@model Book_Management_System.Infrastructure.PaginatedList<Book_Management_System.Models.Book>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_content">
    <!-- TITLE -->
    <div class="sidebar_title">
        <h5 style="font-weight: bolder">@Book_Management_System.Resources.Client.HomeResource.Resources.Home_Feature</h5>
        <hr style="height: 10px; border: 0;box-shadow: 0 10px 10px -10px #8c8b8b inset;" />
    </div>
    <!-- LIST PRODUCT -->
    <div class="row">

        @{
            foreach (var item in Model)
            {
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="product-item">
                        <div class="product_image">
                            <a href="~/Home/DetailProduct/?idBook=@item.Id">
                                <img style="margin-top: 0px;" src="@item.ImageURL" alt="image" />
                            </a>
                        </div>
                        <div class="product_info">
                            <h6 class="product_name">@item.Title</h6>
                            <h6 class="product_author">
                                by <a href="#">@item.Author.Name</a>
                            </h6>
                            <p style="font-size: 12px">
                                @item.Summary
                            </p>
                        </div>

                    </div>
                    <div class="btn-group" style="width:100%; margin-top:-1px; margin-bottom: 10px;">
                        <button class="btn-dark" style="width:50%;font-size: 18px;" onclick="Open('@item.Id')" id="buyNow">@Book_Management_System.Resources.Client.HomeResource.Resources.Home_BuyNow</button>
                        <button class="btn-price btn-outline-primary" style="width:50%"><span style="font-size: 15px;" ;>22$</span></button>
                    </div>
                </div>
            }
        }
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <!-- PAGINATION -->
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            @Html.ActionLink(@Book_Management_System.Resources.Client.HomeResource.Resources.Home_Prev, "Search", new { @page = Model.PageIndex - 1, @searchString = TempData["CurrentFilter"] }, new { @class = "page-link" })
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {

            <li class="page-item">
                @Html.ActionLink(i.ToString(), "Search", new { @page = i, @searchString = TempData["CurrentFilter"] }, new { @class = "page-link" })
            </li>
        }
        @*<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>*@

        <li class="page-item @nextDisabled">
            @Html.ActionLink(@Book_Management_System.Resources.Client.HomeResource.Resources.Home_Prev, "Search", new { @page = Model.PageIndex + 1, @searchString = TempData["CurrentFilter"] }, new { @class = "page-link" })
        </li>
    </ul>
    <!-- END PAGINATION -->
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="content">
                @*Content*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="addCart" data-dismiss="modal">@Book_Management_System.Resources.Client.HomeResource.Resources.Home_AddToCart</button>
   
            </div>
        </div>
    </div>
</div>
@section Js{
    <script type="text/javascript">
      function Open(currentId) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("DetailCart","Cart")",
            data: { id: currentId },
            success: function (data) {
                $('#content').html(data);
                $('#myModal').modal('show');

            }
        })
        };

         $('#addCart').on('click', function (event) {
             event.preventDefault();

             const formatter = new Intl.NumberFormat('en-US', {
                 style: 'currency',
                 currency: 'USD',
                 minimumFractionDigits: 2
             })

            currentId = $('#img').attr('data-id');
            var input = $("input[name= quantity]");
            var currentVal = parseInt(input.val());
                $.ajax({
                    type: "Get",
                    url: "@Url.Action("AddCart","Cart")",
                    dataType: 'Json',
                    cache: false,
                  data: {
                      id: currentId,
                      quantity: currentVal
                    },
                    cache: false,
                  success: function (response) {
                      console.log(response);
                      if (response.Result == true) {
                          $('#amountCart').html(response.Amount);
                          $('#totalCart').html(formatter.format(response.Total));
                          Swal.fire({
                                  type: 'success',
                                  width: 400,
                                  height: 300,
                                  text: response.Message,
                                  showConfirmButton: false,
                                  footer: '<a href="@Url.Action("Index","Cart")">Go to Cart ?</a>'
                              });
                      } else {
                          Swal.fire({
                              type: 'error',
                              width: 400,
                              height: 300,
                              text: response.Message
                          });
                      }

                    },
                })
            });

    </script>
}
