@using System.Globalization;
<div class="top_nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="top_nav_right">
                    <ul class="top_nav_menu">
                        @{ var session = (Book_Management_System.Common.UserLogin)Session[Book_Management_System.Common.Constants.USER_SESSION];}
                        @{ if (session != null)
                            {
                                <li class="account">
                                    <a href="@Url.Action("EditInfo","User", new {id = session.UserId })" class="visitor_name">
                                        @Book_Management_System.Resources.Client.HomeResource.Resources.Home_Welcome, <b> @session.UserName </b>
                                    </a>
                                </li>
                                <li class="account">
                                    <a href="@Url.Action("Logout","UserLogin")" class="visitor_name">
                                        @Book_Management_System.Resources.Client.HomeResource.Resources.Home_Logout
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li class="account">
                                    <a href="@Url.Action("Login","UserLogin")" class="visitor_name">
                                        @Book_Management_System.Resources.Client.HomeResource.Resources.Home_Login
                                    </a>
                                </li>
                                <li class="account">
                                    <a href="@Url.Action("Create","Register")" class="visitor_name">
                                        @Book_Management_System.Resources.Client.HomeResource.Resources.Home_Register
                                    </a>
                                </li>
                            }
                        }
                        <li class="account">
                            <a href="@Url.Action("Index","Cart")">
                                <i class="fa fa-shopping-basket"></i>
                                @Book_Management_System.Resources.Client.HomeResource.Resources.Home_Cart
                                (<span id="amountCart">@ViewBag.numberItem</span>) <b id="totalCart"> @string.Format(new CultureInfo("en-US"),"{0:C}", ViewBag.TotalAmount)</b>
                            </a>
                        </li>
                        <li class="account">
                            @using (Html.BeginForm("ChangeCulture", "Base"))
                            {
                                @Html.Hidden("returnUrl", Request.RawUrl)
                                @Html.DropDownList("ddlCulture", new SelectList(new[] {
                                    new{value ="vi-VN",text= Book_Management_System.Infrastructure.StaticResource.Resources.Vietnamese },
                                    new{value ="en-US",text= Book_Management_System.Infrastructure.StaticResource.Resources.English },

                                    }, "value", "text",Session[Book_Management_System.Infrastructure.ConstantDefine.CURRENT_CULTURE]),new {onchange="this.form.submit();", @id = "table"} )
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
